<div class="containter">
  <br>
  <div class="row">

    <div class="col-md-4">

      <h3>Add a Burger</h3>
      <p>Enter a burger you'd like to eat.</p>

      <div class="row">
        <form class="form-inline" action="/burgers" method="POST">
          <div class="form-group mx-sm-3 mb-2">
            <input type="text" class="form-control" id="burger_name" name="burger" placeholder="Name of Burger">
          </div>
          <button type="submit btn-primary" class="btn btn-primary mb-2">Add a burger</button>
        </form>
        <br>
    </div>
  </div>
</div>
<br>
<br>

<div class="row">
  <div class="col-md-4">
    <ul class="list-group">
      <li class="list-group-item active">Burgers that are not devoured</li>
      <li class="list-group-item">

        {{!-- Render burgers that are not devoured in the browser --}}
        {{#each burgerData}}
        {{#unless this.devoured}}
        <p><button class="btn btn-primary btn-sm devour-button" name="{{this.id}}" type="submit">Devour it!</button>&nbsp; &nbsp; 
          {{this.burgers_name}}
        </p>
          {{/unless}}
          {{/each}}
      </li>
      </li>
    </ul>
  </div>
  <div class="col-md-4" id="burgerDiv">
    <img src="" id="burger">
  </div>
  <div class="col-md-4">
    <ul class="list-group">
      <li class="list-group-item list-group-item-danger">Burgers that have been devoured</li>
      <li class="list-group-item disabled">
        
        {{!-- Put the devoured burgers in the devoured area --}}
         {{#each burgerData}}
            {{#if this.devoured}}
             <p>{{this.burgers_name}}</p>
           {{/if}}
          {{/each}}
      </li>
      </li>
    </ul>
  </div>
</div>

<br>
</div>

<script type="text/javascript">
  // Activate devour button
  $('.devour-button').on('click', function (event) {
    console.log("Devour Button Clicked!");
    event.preventDefault();
    var id = $(this).attr("name");
    // Send the PUT request.
    $.ajax("/api/" + id, {
      type: "PUT"
    }).then(
      function() {
        console.log("updated id ", id);
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });
</script>